BITREFILL_API_USER=4AN9JSRQY0XW2QCADTEB8JKA6
BITREFILL_API_PASS=dM1s5EEadiqbYQPXoTp38nuV9OCvx16wGHauZLFjNqM
BITREFILL_API_BASE=https://api.bitrefill.com/v1

DEBUG=*

# Only needed you want to use the Copay wallet example demo 
# To set up a wallet visit www.copay.io
WALLET_MNEMONIC=""